/*
selector {property:value;}
*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto|Dosis|Lobster');

/*target-boxing*/
/*div{
  border: 1px solid red;
}*/
.roller {
    font:bold 40px 'Roboto', sans-serif;
    text-align: center;

    margin: auto;

    /*outline: solid 1px red;*/
    position: relative;
    /*-webkit-animation: slide 5s infinite;*/
    -webkit-animation: flip1 0.2s infinite,
                      slide1 3s infinite,
                      scale1 3s infinite;
    animation: flip1 0.2s infinite,
                      slide1 3s infinite,
                      scale1 3s infinite;


    /*-webkit-animation-delay: 0.5s;*/
}

/*i{
  -webkit-animation-delay: 0.5s;
  animation-delay: 2s;
}
b{
  -webkit-animation-delay: 1s;
  animation-delay: 2s;
}*/


/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide1 {
    0%   {top: 0px;}
    20%   {top: 50px;}
    25%  {top: 40px;}
    40%  {top: 130px;}
    45% {top: 100px;}
    70%  {top: 280px;}
    75%  {top: 200px;}
    90%  {top: 280px;}
    100% {top: -1200px;}

}
@keyframes slide1 {
    0%   {top: 0px;}
    20%   {top: 50px;}
    25%  {top: 40px;}
    40%  {top: 130px;}
    45% {top: 100px;}
    70%  {top: 280px;}
    75%  {top: 200px;}
    90%  {top: 280px;}
    100% {top: -1200px;}

}

@-webkit-keyframes flip1 {
    /*0%  {-webkit-transform: rotate3d(0, 0, 0, 180deg);}
    10%  {-webkit-transform: rotate3d(0.1, 0.1, 0.1, 180deg);}
    40%  {-webkit-transform: rotate3d(0.8, 0, 0, 180deg);}
    45%  {-webkit-transform: rotate3d(0.9, -0.1, -0.1, 180deg);}
    50%  {-webkit-transform: rotate3d(1, 0, 0, 170deg);}
    55%  {-webkit-transform: rotate3d(1.1, 0.1, 0.1, 180deg);}
    60%  {-webkit-transform: rotate3d(1.2, 0.1, 0.1, 180deg);}
    95%  {-webkit-transform: rotate3d(1.9, -0.1, -0.1, 180deg);}
    100%  {-webkit-transform: rotate3d(2, 0, 0, 180deg);}*/

    0%  {-webkit-transform: rotate3d(0,0,0, 180deg);}
    45%  {-webkit-transform: rotate3d(1,0,0, 180deg);}
    55%  {-webkit-transform: rotate3d(1,0,0, 180deg);}
    90%  {-webkit-transform: rotate3d(0,0,0, 180deg);}
    100%  {-webkit-transform: rotate3d(0, 0, 0, 180deg);}

}
@keyframes flip1 {
    /*0%  {-webkit-transform: rotate3d(0, 0, 0, 180deg);}
    10%  {-webkit-transform: rotate3d(0.1, 0.1, 0.1, 180deg);}
    40%  {-webkit-transform: rotate3d(0.8, 0, 0, 180deg);}
    45%  {-webkit-transform: rotate3d(0.9, -0.1, -0.1, 180deg);}
    50%  {-webkit-transform: rotate3d(1, 0, 0, 170deg);}
    55%  {-webkit-transform: rotate3d(1.1, 0.1, 0.1, 180deg);}
    60%  {-webkit-transform: rotate3d(1.2, 0.1, 0.1, 180deg);}
    95%  {-webkit-transform: rotate3d(1.9, -0.1, -0.1, 180deg);}
    100%  {-webkit-transform: rotate3d(2, 0, 0, 180deg);}*/

    0%  {-webkit-transform: rotate3d(0,0,0, 180deg);}
    45%  {-webkit-transform: rotate3d(1,0,0, 180deg);}
    55%  {-webkit-transform: rotate3d(1,0,0, 180deg);}
    90%  {-webkit-transform: rotate3d(0,0,0, 180deg);}
    100%  {-webkit-transform: rotate3d(0, 0, 0, 180deg);}

}

@-webkit-keyframes scale1 {
    0%   {font-size: 40px}
    20%  {font-size: 50px}
    25%  {font-size: 50px}
    40%  {font-size: 75px}
    45%  {font-size: 75px}
    80%  {font-size: 120px}
    85%  {font-size: 120px}
    90%  {font-size: 200px}
    100% {font-size: 600px}
}
@keyframes scale1 {
    0%   {font-size: 40px}
    20%  {font-size: 50px}
    25%  {font-size: 50px}
    40%  {font-size: 75px}
    45%  {font-size: 75px}
    80%  {font-size: 120px}
    85%  {font-size: 120px}
    90%  {font-size: 200px}
    100% {font-size: 600px}
}

/*@-webkit-keyframes sway1{
    0%{ -webkit-transform: translateX(0px); -webkit-transform: skewX(0deg)}
    10%{ -webkit-transform: translateX(40px); -webkit-transform: skewX(20deg)}
    20%{ -webkit-transform: translateX(0px); -webkit-transform: skewX(0deg)}
    30%{ -webkit-transform: translateX(-40px); -webkit-transform: skewX(-20deg)}
    40%{ -webkit-transform: translateX(0px); -webkit-transform: skewX(0deg)}
    60%{ -webkit-transform: translateX(40px); -webkit-transform: skewX(20deg)}
    70%{ -webkit-transform: translateX(0px); -webkit-transform: skewX(0deg)}
    80%{ -webkit-transform: translateX(-40px); -webkit-transform: skewX(-20deg)}
    90%{ -webkit-transform: translateX(0px); -webkit-transform: skewX(0deg)}
    100%{ -webkit-transform: translateX(0px); -webkit-transform: skewX(0deg)}



}*/

/* Standard syntax */
/*@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}*/

/*.roller{
  font:bold 40px 'Roboto', sans-serif;
  text-align: center;

  margin: auto;

  -webkit-animation: flip1 4s infinite;
  animation: flip1 4s infinite;


}

@-webkit-keyframes flip1 {
    -webkit-transform: rotate(180deg);
}

@keyframes flip1 {
    -webkit-transform: rotate(180deg);
}*/

/*Sprite Animation*/
.sprite {
    width: 100px;
    height: 100px;
    background-image: url("../img/boulder_sprite_10.png");

    -webkit-animation: play .8s steps(10) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -1000px; }
}


/*Transition Animation*/
.transition1{
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  margin: auto;
  font-size: 80px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  width: 500px;
  height: 200px;
  background-color: red;
  -webkit-transition: border 10s, outline 5s, transform 2s, background-color 6s ease-out;
  transition: border 10s, outline 5s, transform 2s, background-color 6s ease-out;


}

.transition1:hover{
    border: blue 10px solid;
    outline: solid 20px green;
    -webkit-transform: skewX(45deg) translateY(200px) scale(3, 1);
    transform: skewX(45deg) translateY(200px) scale(3, 1);




}

.transition1:active{

    -webkit-user-select: none;
    user-select: none;
    font-family: 'Rye', serif;
    outline: dashed 1px yellow;
    -webkit-transform: rotateZ(90deg) translateY(200px);
    transform: rotateZ(90deg) translateY(200px);
    background-color: rgb(0, 0, 0);



}


h1{
  text-align: center;
  margin: auto;
  font: 60px 'Roboto', sans-serif;

}

h2{
  text-align: center;
  margin: auto;
  font: 30px 'Roboto', sans-serif;
}

li a{
  background-color: rgb(240, 240, 240);
}

li a:hover{
  background-color: rgb(220, 220, 255);

}

p{
  margin-top: 20px;
}
